.env
/lang/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
storage/logs/*
!storage/logs/.gitkeep
storage/framework/cache/*
!storage/framework/cache/.gitkeep
storage/framework/sessions/*
!storage/framework/sessions/.gitkeep
storage/framework/views/*
!storage/framework/views/.gitkeep
storage/app/uploads/tmp/*
!storage/app/uploads/tmp/.gitkeep
.cursor/
.idea/
.vscode/
*.swp
*.log
*.sqlite
storage/backups/*
!storage/backups/.gitkeep
database/*.sqlite
tests/storage/framework/sessions/*
!tests/storage/framework/sessions/.gitkeep
tests/storage/framework/cache/*
!tests/storage/framework/cache/.gitkeep
tests/storage/framework/views/*
!tests/storage/framework/views/.gitkeep
tests/storage/logs/*
!tests/storage/logs/.gitkeep
tests/database/*.sqlite
